<div class="row">
  <div class="large-12 columns centered text-center">
    <h1>Move along, nothing to see here</h1>

    <p>
      Looks like you haven't added any Casks yet. Once you've
      chosen some, they'll show up in here
    </p>
    <%= link_to 'Peruse the Cask List', casks_path, class: 'button' %>
  </div>
</div>
