<% if @drinks.blank? %>
  <%= render partial: 'no_drinks' %>
<% else %>
  <% if @incomplete.present? %>
    <div class="row text-left">
      <div class="large-4 large-1-offset columns">
        <h1>To Do</h1>
      </div>
    </div>
    <% @incomplete.each_slice(2) do |slice| %>
      <%= render partial: 'drinks_slice', locals: {slice: slice} %>
    <% end %>
  <% end %>

  <% if @complete.present? %>
    <div class="row text-left">
      <div class="large-4 large-1-offset columns">
        <h1>Completed</h1>
      </div>
    </div>
    <% @complete.each_slice(2) do |slice| %>
      <%= render partial: 'drinks_slice', locals: {slice: slice} %>
    <% end %>
  <% end %>
<% end %>
