<div class="row">
  <div class="small-4 small-centered text-center columns">
    <h1>Casker</h1>
    <p>Keep on top of your Cask Days 2014 drinklist</p>
  </div>
</div>

<div class="row">
  <div class="small-8 small-offset-2 columns">
    <ul class="pricing-table">
      <li class="title">Features</li>
      <li class="bullet-item">All 2014 Casks</li>
      <li class="bullet-item">Keep track of Beers you want to Drink</li>
      <li class="bullet-item">Mark your favourites</li>
      <li class="bullet-item">Strike off the ones you've finished</li>
      <li class="description">Psst... it's totally free!</li>
      <li class="cta-button">
        <%= link_to 'Sign me up Boss!', login_path, method: 'post', class: 'button' %>
      </li>
    </ul>
  </div>
</div>

