<div class="row" data-magellan-expedition="fixed">
    <dl class="sub-nav">
        <dd data-magellan-arrival="festival">
            <a href="#festival">Festival</a>
        </dd>
        <dd data-magellan-arrival="breweries">
            <a href="#breweries">Breweries</a>
        </dd>
        <dd data-magellan-arrival="styles">
            <a href="#styles">Styles</a>
        </dd>
        <dd data-magellan-arrival="beers">
            <a href="#beers">Beers</a>
        </dd>
        <dd><%= form.submit 'Update', class: 'button right'%></dd>
    </dl>
</div>
